body {
   background-color: rgb(120, 120, 120);
   margin: 0;
   font-family: "Ubuntu", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
      "Oxygen", "Cantarell", "Fira Sans", "Droid Sans",
      "Helvetica Neue", sans-serif;
   font-style: bold;
   
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}

.minesweeper {
   width: 95%; 
   border: 5px solid black;
   margin: auto;
}
.minesweeper h1{
   display: flex;
   justify-content: center;
   height: 20px;
   gap: 0;
   margin-top: 10px;
   font-size: 30px;
}

.board {
   width: 100%; 
   height: 100%;
}

.board .row{
   display: flex;
   border: solid black 1px;
   width: 100%;
   border-bottom: none;
}
.board .row .cell{
   display: flex;
   justify-content: center;
   align-items: center;
   border-right: 1px solid black;
   border-bottom: 1px solid black;
   height: 50px;
   width: 100%;
}
.mine, .flag{
   width: 35px;
}
.auxiliar{
   width: 55px;
}

.board .row .cell.open{
   background-color: rgb(215, 151, 151);
}
.board .row .cell.open:hover{
   background-color: rgb(78, 78, 78);
}
.board .row .cell:hover{
   background-color: rgb(59, 59, 59);
}

.board-head {
   background-color: rgba(0, 0, 0, 0.662);
   font-size: 37px;
   display: flex;
   align-items: center;
   color: white;

   height: 50px;
   /* justify-content: space-between; */
}
.board-head .level {

   color: white;
   background-color: #302c2c;
   font-family: "Ubuntu";
   border: solid white 2px;
   border-radius: 8px;

   /* position: absolute;
   margin-left: 20px; */
}
.board-head .center {
   display: flex;
   flex: 1;
}
.board-head span {
   display: flex;
   align-items: center;
}
.board-head .center .flags {
   margin-left: auto;
   margin-right: 50px;
}
.board-head .center .flags img {
   height: 40px;
   margin-right: 5px;
}
.board-head .center .timer {
   margin-right: auto;
}
.board-head .center .timer img {
   height: 48px;
   margin-right: 5px;
}

.reset{
font-size: 15px;
}