body {
   margin: 0;
   font-family: "Ubuntu", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
      "Oxygen", "Cantarell", "Fira Sans", "Droid Sans",
      "Helvetica Neue", sans-serif;
   font-style: bold;
   
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}

.modal{
   display: flex;
   flex-direction: column;
   width: 100%;
   height: 50px;
   color: white;
}
.win{
   background-color: #47a912;
}
.lose{
   background-color: #a91212;
}
.modal b{
   margin: auto;
}

.minesweeper {
   width: 80%; 
   margin: auto;
   background-color: rgba(75, 75, 75, 0.651);
}
.minesweeper h1{
   display: flex;
   justify-content: center;
   align-items: center;
   height: 50px;
   margin:0;
   font-size: 40px;
   background-color: white;
   font-weight: 900;
   padding-top: 20px;
}
.minesweeper h1 img{
   width: 30px;
   padding: 20px;
   padding-top: 25px;
}
.minesweeper h2{
   display: flex;
   justify-content: center;
   height: 20px;
   margin:0;
   font-style: italic;
   font-size: 17px;
   background-color: white;
   padding-bottom: 20px;
   padding-top: 10px;
}


.board {
   display: grid;
   justify-content: center;
   margin:0 auto;
   padding: 20px;
}

.board .row{
   display: flex;
   justify-content: center; 
   width: fit-content;
   margin: 0;
}
.board .row .cell{ 
   border: 1px solid rgba(7, 7, 7, 0.74); 
   width: 38px;
   height: 38px;
   font-size: 15px;
   font-weight: 500;
   display: flex;
   justify-content: center;
   align-items: center; 
}
.mine, .flag{
   width: 25px;
}
.auxiliar{
   width: 35px;
}
.wrongflag{
   width: 20px;
}

.board .row .cell.open{
   background-color: rgb(215, 151, 151);
}
.board .row .cell.open:hover{
   background-color: rgb(78, 78, 78);
}
.board .row .cell:hover{
   background-color: rgb(59, 59, 59);
}

h3{
   display: flex;
   justify-content: end;
   padding: 0;
   margin: 0;
   padding-top: 10px;
   background-color: white;
   align-items:end;
   font-style: italic;
   font-size: 15px;
   color: rgb(2, 2, 2);
}